<p>

  <h4 class="header2">Seja bem-vindo ao cadastro ao Portal do Vôlei Tocantins.</h4>
  Aqui você fará seu cadastro para poder ter acesso às votações e inscrições de competições. <br>
  Após seu cadastro seus dados passarão por uma validação. O seu número de telefone será usado
  para validar seu acesso nas votações, portanto use um número de celular válido ou seu voto poderá não ser
  computado!
</p>

<%= content_for :left_card do %>

<% if Setting.get_value("cadastro_membros") %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: ""}) do |f| %>
      <div class="card-panel">
        <%= devise_error_messages! %>
        <div id class="row">
          <div class="input-field col s12 center">
            <img src="/images/FTV_2020_horizontal.png" alt="" class="responsive-img">
          </div>

        </div>
        <h4 class="header2">Dados Pessoais</h4>
        <div class="row">
          <div class="col s12">
            <%= f.label :nome %><br />
            <%= f.text_field :nome, autofocus: true, autocomplete: "nome", required: true %>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <%= f.label :cpf, "CPF" %><br />
            <%= f.text_field :cpf, {class:"cpf", required: true}%>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <%= f.label :rg %><br />
            <%= f.text_field :rg, { required: true}%>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <%= f.label :nome_pai %><br />
            <%= f.text_field :nome_pai%>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <%= f.label :nome_mae %><br />
            <%= f.text_field :nome_mae, { required: true}%>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <%= f.label :nascimento %><br />
            <%= f.date_field :nascimento, {class:"", required: true}%>
          </div>
        </div>
      </div>
      <div class="card-panel">
        <h4 class="header2">
          Dados da Modalidade
        </h4>

        <div class="row">
          <div class="col s12">
            <%= f.label :modalidade %><br />
            <%= f.select :modalidade,User.modalidade.options,{}, {class: "browser-default"}%>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <%= f.label :sexo %><br />
            <%= f.select :sexo,User.sexo.options,{}, {class: "browser-default"}%>
          </div>
        </div>
      </div>

      <div class="card-panel">
        <h4 class="header2">Dados de Contato</h4>
        <div class="row">
          <div class="input active">
            <label for="" >Endereço</label>
            <input type="text" id="autocomplete_address">
          </div>
        </div>
        <%= f.hidden_field :endereco, id: "fulladdress" %>
        <div class="row">
          <div class="col s12">
            <%= f.label :cidade %><br />
            <%= f.text_field :cidade, { id:"administrative_area_level_2", readonly: true}%>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <%= f.label :cep %><br />
            <%= f.text_field :cep, {id: "postal_code", required: true}%>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <%= f.label :telefone, "Celular" %><br />
            <%= f.text_field :telefone, {class: "telefones", required: true}%>
            <p>O número de celular será utilizado para confirmar o voto!</p>
          </div>
        </div>
      </div>

      <div class="card-panel">
        <h4 class="header2">Envio de Documentos</h4>
        <div class="row">
          <div class="file-field input-field white-text">
            <div class="btn small">
              <span> <i class="material-icons">attach_file</i></span>
              <%= f.file_field :foto_rosto,required: true %>
              <%= f.hidden_field :foto_rosto_cache %>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate black-text" type="text" placeholder="Foto">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="file-field input-field white-text">
            <div class="btn">
              <span><i class="material-icons">attach_file</i></span>
              <%= f.file_field :foto_rg_frente, required: true %>
              <%= f.hidden_field :foto_rg_frente_cache %>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate black-text" type="text" placeholder="RG Frente">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="file-field input-field white-text">
            <div class="btn">
              <span><i class="material-icons">attach_file</i></span>
              <%= f.file_field :foto_rg_verso, required: true %>
              <%= f.hidden_field :foto_rg_verso_cache %>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate black-text" type="text" placeholder="RG Verso">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="file-field input-field white-text">
            <div class="btn">
              <span><i class="material-icons">attach_file</i></span>
              <%= f.file_field :foto_cpf_frente, required: true %>
              <%= f.hidden_field :foto_cpf_frente_cache %>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate black-text" type="text" placeholder="CPF Frente">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="file-field input-field white-text">
            <div class="btn">
              <span><i class="material-icons">attach_file</i></span>
              <%= f.file_field :foto_cpf_verso, required: true %>
              <%= f.hidden_field :foto_cpf_verso_cache %>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate black-text" type="text" placeholder="CPF Verso">
            </div>
          </div>
        </div>
      </div>










        <div class="card-panel">
          <h4 class="header2">Dados de Acesso ao Portal</h4>
          <div class="row">
            <div class="col s12">
              <%= f.label :email %><br />
              <%= f.email_field :email,  {autocomplete: "email",required: true} %>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <%= f.label :password, "Senha" %>
              <% if @minimum_password_length %>
                <em>(mínimo de <%= @minimum_password_length %> caracteres )</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <%= f.label :password_confirmation, "Confirme a senha" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
          </div>
          <div class="row">
            <div class="actions">
              <%= f.submit "Registrar", class:"btn white-text", target:"_self" %>
            </div>
          </div>
        </div>
        </div>


<% end %>
<% else %>
  <div class="card">
    <div class="card-content">
      <h4>Novos cadastros desabilitados temporariamente!</h4>
    </div>
  </div>
<% end %>
<%#= render "devise/shared/links" %>
<% end %>
<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        initializeAutocomplete('autocomplete_address');
    });

    function initializeAutocomplete(id) {

        console.log("autocomplete google");
        var element = document.getElementById(id);
        if (element) {
            var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'], componentRestrictions: {country: 'br'} });
            google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
        }
    }

    function onPlaceChanged() {
        var place = this.getPlace();

        console.log(place);

        $("#fulladdress").val(place.formatted_address);

        $("label").addClass("active");
        for (var i in place.address_components) {
            var component = place.address_components[i];

            for (var j in component.types) {  // Some types are ["country", "political"]
                var type_element = document.getElementById(component.types[j]);
                if (type_element) {
                    type_element.value = component.long_name;
                }
            }
        }
    }
  </script>
<% end %>
