<div class="card-panel">

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to new_registration_path(resource_name) do  %>
      <div class="card-panel blue white-text">
        <h4 class="header2">Novo por aqui?</h4>
        Para fazer seu primeiro acesso e se cadastrar no Portal do Atleta Vôlei Tocantins clique aqui.
      </div>
    <% end if Setting.get_value("cadastro_membros") %>
  <% end -%>

  <%- if controller_name != 'sessions' %>
    <%= link_to "Entrar", new_session_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Esqueceu sua senha?", new_password_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to "Não recebeu instruções de confirmação?", new_confirmation_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to "Não recebeu instruções de desbloqueio?", new_unlock_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Entrar com #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
    <% end -%>
  <% end -%>

</div>