<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5><%= t('errors.template.header')  %>:</h5>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
    <div class="row">
      <div class="field">
        <%= f.label :modalidade %><br />
        <%= f.select :modalidade,User.modalidade.options,{}, {}%>
      </div>
    </div>
    <div class="row">
      <div class="field">
        <%= f.label :nome %><br />
        <%= f.text_field :nome, autofocus: true, autocomplete: "nome", required: true %>
      </div>
    </div>
    <div class="row">
      <div class="field">
        <%= f.label :sexo %><br />
        <%= f.select :sexo,User.sexo.options,{}, {}%>
      </div>
    </div>
    <div class="row">
      <div class="field">
        <%= f.label :cpf %><br />
        <%= f.text_field :cpf, {class:"cpf", required: true}%>
      </div>
    </div>
    <div class="row">
      <div class="field">
        <%= f.label :rg %><br />
        <%= f.text_field :rg, { required: true}%>
      </div>
    </div>
    <div class="row">
      <div class="input active">
        <label for="" >Endereço</label>
<!--        <input type="text" id="autocomplete_address">-->
        <%= f.text_field :endereco, id: "fulladdress" %>
      </div>
    </div>

    <div class="row">
      <div class="field">
        <%= f.label :cidade %><br />
        <%= f.text_field :cidade, { id:"administrative_area_level_2", readonly: true}%>
      </div>
    </div>
    <div class="row">
      <div class="field">
        <%= f.label :cep %><br />
        <%= f.text_field :cep, {id: "postal_code", required: true}%>
      </div>
    </div>
    <div class="row">
      <div class="field">
        <%= f.label :nascimento %><br />
        <%= f.date_field :nascimento, {class:"", required: true}%>
      </div>
    </div>

    <div class="row">
      <div class="field">
        <%= f.label :telefone, "Celular" %><br />
        <%= f.text_field :telefone, {class: "telefones", required: true}%>
      </div>
    </div>
<!--    <div class="row">-->
<!--      <div class="field">-->
<!--        <%#= f.label :whatsapp %><br />-->
        <%#= f.text_field :whatsapp, {class: "telefones", required: true}%>
<!--      </div>-->
<!--    </div>-->

    <div class="row">
      <div class="field">
        <%= f.label :nome_pai %><br />
        <%= f.text_field :nome_pai%>
      </div>
    </div>

    <div class="row">
      <div class="field">
        <%= f.label :nome_mae %><br />
        <%= f.text_field :nome_mae, { required: true}%>
      </div>
    </div>

    <div class="row">
      <div class="file-field input-field white-text">
        <div class="btn small">
          <span> <i class="material-icons">attach_file</i></span>
          <%= f.file_field :foto_rosto %>
          <%= f.hidden_field :foto_rosto_cache %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate black-text" type="text" placeholder="Foto">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="file-field input-field white-text">
        <div class="btn">
          <span><i class="material-icons">attach_file</i></span>
          <%= f.file_field :foto_rg_frente %>
          <%= f.hidden_field :foto_rg_frente_cache %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate black-text" type="text" placeholder="RG Frente">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="file-field input-field white-text">
        <div class="btn">
          <span><i class="material-icons">attach_file</i></span>
          <%= f.file_field :foto_rg_verso %>
          <%= f.hidden_field :foto_rg_verso_cache %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate black-text" type="text" placeholder="RG Verso">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="file-field input-field white-text">
        <div class="btn">
          <span><i class="material-icons">attach_file</i></span>
          <%= f.file_field :foto_cpf_frente %>
          <%= f.hidden_field :foto_cpf_frente_cache %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate black-text" type="text" placeholder="CPF Frente">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="file-field input-field white-text">
        <div class="btn">
          <span><i class="material-icons">attach_file</i></span>
          <%= f.file_field :foto_cpf_verso %>
          <%= f.hidden_field :foto_cpf_verso_cache %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate black-text" type="text" placeholder="CPF Verso">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email,  {autocomplete: "email",required: true} %>
      </div>
    </div>



<!--    <div class="row">-->
<!--      <div class="field">-->
<!--        <%#= f.label :cod_fed_estadual, "Federação Estadual" %><br />-->
        <%#= f.text_field :cod_fed_estadual, {}%>
<!--      </div>-->
<!--    </div>-->

    <div class="row">
      <div class="field">
        <%= f.label :cod_fed_nacional, "Federação Nacional" %><br />
        <%= f.text_field :cod_fed_nacional, {}%>
      </div>
    </div>

    <div class="row">
      Ativo
      <div class="switch">
        <label>
          NÃO
          <%= f.check_box :ativo %>
          <span class="lever"></span>
          SIM
        </label>
      </div>
    </div>

    <br>


    <div class="row">
      Pode Votar?
      <div class="switch">
        <label>
          NÃO
          <%= f.check_box :pode_votar %>
          <span class="lever"></span>
          SIM
        </label>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="actions">
        <%= f.submit "Salvar", class:"btn white-text", target:"_self" %>
      </div>
    </div>

  <% end %>

<%#= render "devise/shared/links" %>

  <% content_for :scripts do %>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            initializeAutocomplete('autocomplete_address');
        });

        function initializeAutocomplete(id) {

            console.log("autocomplete google");
            var element = document.getElementById(id);
            if (element) {
                var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'], componentRestrictions: {country: 'br'} });
                google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
            }
        }

        function onPlaceChanged() {
            var place = this.getPlace();

            console.log(place);

            $("#fulladdress").val(place.formatted_address);

            $("label").addClass("active");
            for (var i in place.address_components) {
                var component = place.address_components[i];

                for (var j in component.types) {  // Some types are ["country", "political"]
                    var type_element = document.getElementById(component.types[j]);
                    if (type_element) {
                        type_element.value = component.long_name;
                    }
                }
            }
        }
    </script>
  <% end %>
  
</div>


