<div class="breadcrumbs-light pb-0 pt-4" id="breadcrumbs-wrapper">
	<!-- Search for small screen-->
	<div class="container">
		<div class="row">
			<div class="col s10 m6 l6">
				<h5 class="breadcrumbs-title mt-0 mb-0"><span>Usuário</span></h5>
				<ol class="breadcrumbs mb-0">
					<%= render_breadcrumbs :tag => :li, :separator => "" %>
				</ol>
			</div>
			<div class="col s2 m6 l6">
				<%= link_to "Todos", users_path, class:"btn white-text waves-effect waves-light breadcrumbs-btn right" %>
			</div>
		</div>
	</div>
</div>

<%= render 'form', user: @user %>