<div class="content-wrapper-before"></div>
<div class="breadcrumbs-light pb-0 pt-4" id="breadcrumbs-wrapper">
	<!-- Search for small screen-->
	<div class="container">
		<div class="row">
			<div class="col s10 m6 l6">
				<h5 class="breadcrumbs-title mt-0 mb-0"><span>Usuários</span></h5>
				<ol class="breadcrumbs mb-0">
					<%= render_breadcrumbs :tag => :li, :separator => "" %>
				</ol>
			</div>
<!--			<div class="col s2 m6 l6"><a class="btn waves-effect waves-light breadcrumbs-btn right border-round" href="<%#= new_user_path %>"><i class="material-icons hide-on-med-and-up">add</i><span class="hide-on-small-only"><%#= t("button.add")  %> <%#= t('activerecord.models.user') %></span></a>-->
<!--			</div>-->
		</div>
	</div>
</div>

<section class="invoice-list-wrapper section">
	<!-- create invoice button-->
	<!-- Options and filter dropdown button-->
	<div class="card">
		<div class="card-content">
			<div class="invoice-filter-action mr-3">
				<div class="row">
					<%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
						<div class="col s9 m11">
							<%= f.search_field :nome_or_cpf_or_email_cont, placeholder: "Pesquisa", class: "search-ransack" %>
						</div>
						<div class="col s3 m1">
							<button type="submit" class="btn-floating mb-1 waves-effect waves-light rigth">
								<i class="material-icons">search</i>
							</button>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<p></p>
	<!-- create invoice button-->
	<div class="responsive-table">
		<style>td{padding: 15px}</style>
		<table class="table invoice-data-table white border-radius-4 pt-1">
			<thead>
			<tr>
				<th>Nome</th>
				<th>E-mail</th>
				<th>CPF</th>
				<th>Modalidade</th>
				<th>Pode Votar</th>
				<th>Ativo</th>
				<th>Ações</th>
			</tr>
			</thead>
			<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user %></td>
					<td><%= user.email %></td>
					<td><%= user.cpf %></td>
					<td><%= user.modalidade.upcase %></td>
					<td><%= user.pode_votar ? "SIM" : "NÃO" %></td>
					<td><%= user.ativo ? "SIM" : "NÃO" %></td>
					<td>
						<div class="invoice-action right-align">
							<%= link_to user, class: "invoice-action-view mr-4" do %>
								<i class="material-icons">remove_red_eye</i>
							<% end %>
							<%= link_to edit_user_path(user) , class: "invoice-action-edit mr-4" do %>
								<i class="material-icons">edit</i>
							<% end %>
						</div>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
	<%= paginate(@users)  %>
</section>
