<% if current_user.admin %>
<div class="breadcrumbs-light pb-0 pt-4" id="breadcrumbs-wrapper">
  <!-- Search for small screen-->
  <div class="container">
    <div class="row">
      <div class="col s10 m6 l6">
        <h5 class="breadcrumbs-title mt-0 mb-0"><span>Usuário</span></h5>
        <ol class="breadcrumbs mb-0">
          <%= render_breadcrumbs :tag => :li, :separator => "" %>
        </ol>
      </div>
      <div class="col s2 m6 l6">
        <%= link_to "Todos", users_path, class:"btn waves-effect waves-light breadcrumbs-btn right white-text" %>
        <%= link_to edit_user_path(@user) , class: "btn-flat waves-effect waves-light breadcrumbs-btn right" do %>
          <i class="material-icons">edit</i>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <% end %>

<section id="content">
  <!--start container-->
  <div class="container">
    <div id="profile-page" class="section">
      <!-- profile-page-header -->
      <div id="profile-page-header" class="card">
        <div class="card-image waves-effect waves-block waves-light" style="height: auto;">
          <img class="activator" src="/images/FTV_2020_horizontal.png" alt="user background">
        </div>
        <figure class="card-profile-image">
          <img  src="<%= @user.foto_rosto.present? ? @user.foto_rosto.url : '/materialize/images/avatar/avatar-1.png' %>" alt="profile image" class="circle z-depth-2 responsive-img activator gradient-45deg-light-blue-cyan gradient-shadow">
        </figure>
        <div class="card-content">
          <div class="row pt-2">
            <div class="col s12 m3 offset-m2">
              <h4 class="card-title grey-text text-darken-4"><%= @user %></h4>
              <p class="medium-small grey-text"><%= @user.sexo.upcase %></p>
            </div>
            <div class="col s12 m2 center-align">
              <h4 class="card-title grey-text text-darken-4"><span> Modalidade</span></h4>
              <p class="medium-small grey-text"><%= @user.modalidade.upcase %></p>
            </div>
            <div class="col s12 m2 center-align">
              <h4 class="card-title grey-text text-darken-4"><i class="material-icons">cake</i> <%= (Date.today - @user.nascimento).to_i / 365 %></h4>
              <p class="medium-small grey-text"><%= @user.nascimento %></p>
            </div>
            <div class="col s12 m2 center-align">
              <h4 class="card-title grey-text text-darken-4">Cidade</h4>
              <p class="medium-small grey-text"><%= @user.cidade %></p>
            </div>
            <div class="col s12 m1 right-align">
              <a class="btn-floating activator waves-effect waves-light rec accent-2 right">
                <i class="material-icons">perm_identity</i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-reveal">
          <div class="row">
            <div class="col s12 l6">
              <p>
                <span class="card-title grey-text text-darken-4"><%= @user %>
                  <i class="material-icons right">close</i>
                </span>
                <span>
                  <i class="material-icons cyan-text text-darken-2">sports_volleyball</i> <%= @user.modalidade.upcase %>
                </span>
              </p>
              <p>
                <i class="material-icons cyan-text text-darken-2">perm_phone_msg</i> <%= @user.telefone %>
              </p>
              <i class="material-icons cyan-text text-darken-2">perm_phone_msg</i> <%= @user.whatsapp %>
              </p>
              <p>
                <i class="material-icons cyan-text text-darken-2">email</i> <%= @user.email %>
              </p>
              <p>
                <i class="material-icons cyan-text text-darken-2">cake</i> <%= @user.nascimento %>
              </p>
              <p>
                <i class="material-icons cyan-text text-darken-2">assignment_ind</i> <%= @user.cpf %>
              </p>
              <p>
                <i class="material-icons cyan-text text-darken-2">assignment_ind</i> <%= @user.rg %>
              </p>
            </div>
            <div class="col s12 l6">
              <p><span></span></p>
              <p>
                <i class="material-icons cyan-text text-darken-2">mood_bad</i> <%= @user.nome_pai %>
              </p>
              <p>
                <i class="material-icons cyan-text text-darken-2">mood</i> <%= @user.nome_mae %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--/ profile-page-header -->
      <!-- profile-page-content -->
      <div id="profile-page-content" class="row">
        <!-- profile-page-sidebar-->
        <div id="profile-page-sidebar" class="col s12 m4">
          <!-- Profile About  -->
          <!-- Profile About  -->
          <!-- Profile About Details  -->
          <ul id="profile-page-about-details" class="collection z-depth-1">
<!--            <li class="collection-item">-->
<!--              <div class="row">-->
<!--                <div class="col s6">-->
<!--                  <i class="material-icons left">sports_volleyball</i> Federação Estadual</div>-->
<!--                <div class="col s6 right-align"><%#= @user.cod_fed_estadual %></div>-->
<!--              </div>-->
<!--            </li>-->
            <li class="collection-item">
              <div class="row">
                <div class="col s6">
<!--                  <i class="material-icons left">sports_volleyball</i> Federação  Nacional</div>-->
                  <img src="/images/cbv-icon.jpeg" alt="" width="60px" height="60px" class="left"><h5 class="blue-text text-darken-4"><b>CBV</b></h5>
                <div class="col s6 right-align"><%= @user.cod_fed_nacional %></div>
              </div>
            </li>
            <li class="collection-item">
              <div class="row">
                <div class="col s6">
                  <i class="material-icons left">check_circle_outline</i> Pode Votar</div>
                <div class="col s6 right-align"><%= @user.pode_votar ? "SIM" : "NÃO" %></div>
              </div>
            </li>
            <li class="collection-item">
              <div class="row">
                <div class="col s6">
                  <i class="material-icons left">check_circle</i> Ativo</div>
                <div class="col s6 right-align"><%= @user.ativo ? "SIM" : "NÃO"  %></div>
              </div>
            </li>
          </ul>
        </div>

        <div id="profile-page-sidebar" class="col s12 m4">
          <!-- Profile About  -->
          <!-- Profile About  -->
          <!-- Profile About Details  -->
          <ul id="profile-page-about-details" class="collection z-depth-1">
            <li class="collection-item">
              <div class="row">
                <div class="col s6">RG Frente</div>
                <div class="col s6 right-align">
                  <%= link_to @user.foto_rg_frente.url, target:"_blank" do %>
                    <i class="material-icons right">visibility</i>
                  <% end if @user.foto_rg_frente.present? %>

                </div>
              </div>
            </li>
            <li class="collection-item">
              <div class="row">
                <div class="col s6">RG Verso</div>
                <div class="col s6 right-align">
                  <%= link_to @user.foto_rg_verso.url, target:"_blank" do %>
                    <i class="material-icons right">visibility</i>
                  <% end if @user.foto_rg_verso.present? %>

                </div>
              </div>
            </li>
            <li class="collection-item">
              <div class="row">
                <div class="col s6">CPF Frente</div>
                <div class="col s6 right-align">
                  <%= link_to @user.foto_cpf_frente.url, target:"_blank" do %>
                    <i class="material-icons right">visibility</i>
                  <% end if @user.foto_cpf_frente.present? %>

                </div>
              </div>
            </li>
            <li class="collection-item">
              <div class="row">
                <div class="col s6">CPF Verso</div>
                <div class="col s6 right-align">
                  <%= link_to @user.foto_cpf_verso.url, target:"_blank" do %>
                    <i class="material-icons right">visibility</i>
                  <% end if @user.foto_cpf_verso.present? %>

                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="col s12 l4">
          <img src="/images/volei-1.jpg" alt="" width="300px">
        </div>

      </div>
    </div>
  </div>
  <!--end container-->
</section>

