<div class="content-wrapper-before woffice-color"></div>
<div class="breadcrumbs-light pb-0 pt-4" id="breadcrumbs-wrapper">
	<!-- Search for small screen-->
	<div class="container">
		<div class="row">
			<div class="col s10 m6 l6">
				<h5 class="breadcrumbs-title mt-0 mb-0"><span>Configurações</span></h5>
				<ol class="breadcrumbs mb-0">
					<%= render_breadcrumbs :tag => :li, :separator => "" %>
				</ol>
			</div>
		</div>
	</div>
</div>

<section class="invoice-list-wrapper section">
	<%= form_with url: atualiza_settings_settings_path, local: true do |f| %>
		<%= f.hidden_field  :redirect,  value: "/settings"%>
		<div class="card">
			<div class="card-content">
				<div class="row">
					<div class="col s12 l8">
						<div class="row">
							<div class="col s6">
								<p class="font-weight-600 left mr-5">Cadastro de Membros</p>
							</div>
							<div class="col s6">
								<div class="switch">
									<label>
										Desativado
										<%= f.check_box :cadastro_membros, checked: Setting.get_value("cadastro_membros") %>
										<span class="lever"></span>
										Ativado
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%= f.submit "Salvar", class:"btn" %>
	<% end %>

</section>
