<div id class="row">
  <div class="input-field col s12 center">
    <img src="/images/FTV_2020_horizontal.png" alt="" class="responsive-img">
  </div>
</div>
Muito bem, agora nós vamos validar sua conta. <br>
 Você pode voltar em breve para verificar se sua conta já está ativa e utilizar seu email e senha que cadastrou agora.

<%= content_for :left_card do %>
  <div class="card-panel">
    Dúvidas e solicitações podem ser encaminhadas para: quadra@voleitocantins.com.br

  </div>
<% end %>