<div class="nested-fields">
  <div class="card">
    <div class="card-content">
      <div class="row">
        <div class="input-field">
          <%= f.label :nome %>
          <%= f.text_field :nome, required: true %>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <%= f.label :descricao %>
          <%= f.text_area :descricao, {class:"materialize-textarea",required: true} %>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <%= f.label :numero %>
          <%= f.text_field :numero, required: true %>
        </div>
      </div>

      <div class="row">
        <% if !f.object.new_record? %>
          <img src="<%= f.object.imagem.url %>" alt="">
          <% end %>
        <div class="file-field input-field white-text">
          <div class="btn">
            <span><i class="material-icons">attach_file</i></span>
            <%= f.file_field :imagem %>
            <%= f.hidden_field :imagem_cache %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate black-text" type="text" placeholder="Imagem 480x360">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>