<%= form_for(election) do |f| %>
  <% if election.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5><%= t('errors.template.header')  %>:</h5>

      <ul>
      <% election.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">

    <%= f.label  :titulo, "Título" %>
    <%= f.text_field :titulo, {required: true} %>
    
  </div>

  <div class="input-field">

    <%= f.label  :descricao, "Descrição" %>
    <%= f.text_area :descricao, class:"materialize-textarea" %>
    
  </div>

  <div class="input">

    <%= f.label  :inicio, "Início" %>
    <%= f.datetime_field :inicio, {required: true} %>
    
  </div>

  <div class="input">

    <%= f.label  :fim, "Término" %>
    <%= f.datetime_field :fim, {required: true} %>
    
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Opções</span>
      <%= f.fields_for :election_options do |task| %>
        <%= render "election_option_fields", f: task %>

      <% end %>
      <div class="row">
        <%= link_to_add_association "Nova Opção", f, :election_options, class:"btn" %>
      </div>
    </div>
  </div>

</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn" %>
  </div>
<% end %>
