<div class="breadcrumbs-light pb-0 pt-4" id="breadcrumbs-wrapper">
  <!-- Search for small screen-->
  <div class="container">
    <div class="row">
      <div class="col s10 m6 l6">
        <h5 class="breadcrumbs-title mt-0 mb-0"><span>Eleição</span></h5>
        <ol class="breadcrumbs mb-0">
          <%= render_breadcrumbs :tag => :li, :separator => "" %>
        </ol>
      </div>
      <div class="col s2 m6 l6">
      </div>
    </div>
  </div>
</div>

<div class="card-panel">

  <div class="row">
    <div class="col s12 l4">
      <div class="card light-blue">
        <div class="card-content white-text">
            <span class="card-title">
              <%= @election.titulo %>
            </span>
          <p>
            <%= @election.descricao %>
          </p>
          <div class="row">
            <div class="col s6"><i class="material-icons">date_range</i><%= @election.inicio %></div>
            <div class="col s6"><i class="material-icons">date_range</i><%= @election.fim %></div>
          </div>
          <br>

        </div>
      </div>
    </div>
    <div class="col s12 l4">
      <div class="card light-green">
        <div class="card-content white-text">
          <span class="card-title">
            Total de Votos
          </span>
          <h2><%= @votos.size %></h2>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Opções</span>
      <div class="row">
        <ul id="issues-collection" class="collection z-depth-1">
<!--          <li class="collection-item avatar">-->
<!--            <i class="material-icons red accent-2 circle">bug_report</i>-->
<!--            <h6 class="collection-header m-0">Issues</h6>-->
<!--            <p>Assigned to you</p>-->
<!--          </li>-->
        <% @election.election_options.each do |o| %>
          <li class="collection-item">
            <div class="row">
              <div class="col s7">
                <p class="collections-title">
                  <strong>#<%= o.numero %></strong> <%= o.nome %></p>
<!--                <p class="collections-content">Web Project</p>-->
              </div>
              <div class="col s2">
                <span class="task-cat deep-orange accent-2"><%= @votos.where(election_option_id: o.id).size %> Votos</span>
                <span class="task-cat green darken-4 "><%= (@votos.where(election_option_id: o.id).size * 100) / @votos.size %>%</span>
              </div>
              <div class="col s3">
                <div class="progress">
                  <div class="determinate" style="width: <%= (@votos.where(election_option_id: o.id).size * 100) / @votos.size %>%"></div>
                </div>
              </div>
            </div>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>







