<div class="content-wrapper-before woffice-color"></div>
<div class="breadcrumbs-light pb-0 pt-4" id="breadcrumbs-wrapper">
	<!-- Search for small screen-->
	<div class="container">
		<div class="row">
			<div class="col s10 m6 l6">
				<h5 class="breadcrumbs-title mt-0 mb-0"><span>Eleições</span></h5>
				<ol class="breadcrumbs mb-0">
					<%= render_breadcrumbs :tag => :li, :separator => "" %>
				</ol>
			</div>
			<div class="col s2 m6 l6"><a class="btn white-text waves-effect waves-light breadcrumbs-btn right border-round" href="<%= new_election_path %>"><i class="material-icons hide-on-med-and-up">add</i><span class="hide-on-small-only">Cadastrar</span></a>
			</div>
		</div>
	</div>
</div>

<section class="invoice-list-wrapper section">
	<!-- create invoice button-->
	<!-- Options and filter dropdown button-->
	<div class="card">
		<div class="card-content">
			<div class="invoice-filter-action mr-3">
				<div class="row">
					<%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
						<div class="col s9 m11">
							<%= f.search_field :titulo_cont, placeholder: "Pesquisar", class: "search-ransack" %>
						</div>
						<div class="col s3 m1">
							<button type="submit" class="btn-floating mb-1 waves-effect waves-light rigth">
								<i class="material-icons">search</i>
							</button>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<p></p>
	<!-- create invoice button-->
	<div class="responsive-table">
		<style>td{padding: 15px}</style>
		<table class="table invoice-data-table white border-radius-4 pt-1">
			<thead>
			<tr>
				<th>Título</th>
				<th>Início</th>
				<th>Término</th>
				<th >Ações</th>
			</tr>
			</thead>
			<tbody>
			<% @elections.each do |election| %>
				<tr>
					<td><%= election.titulo %></td>
					<td><%= election.inicio %></td>
					<td><%= election.fim %></td>
					<td>
						<div class=" right-align">
							<%= link_to election, class: " mr-4" do %>
								<i class="material-icons">remove_red_eye</i>
							<% end %>
							<%= link_to edit_election_path(election) , class: " mr-4" do %>
								<i class="material-icons">edit</i>
							<% end %>
						</div>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
	<%= paginate(@elections)  %>
</section>
