<div class="row">
  <% @elections.each do |election| %>
    <div class="col s12 l4">
        <div class="card light-blue">
          <div class="card-content white-text">
            <span class="card-title">
              <%= election.titulo %>
            </span>
            <p>
              <%= election.descricao %>
            </p>
            <div class="row">
              <div class="col s6"><i class="material-icons">date_range</i><%= election.inicio %></div>
              <div class="col s6"><i class="material-icons">date_range</i><%= election.fim %></div>
            </div>
            <br>
            <div class="row">
              <%= link_to "Visualizar",election, class:"btn white blue-text" %>
            </div>
          </div>
        </div>
    </div>
  <% end %>
  <% if @elections.blank? %>
    <div class="card-panel center">
      <h4>Nenhuma votação está aberta neste momento.</h4>
    </div>
  <% end %>
</div>