<div class="breadcrumbs-light pb-0 pt-4" id="breadcrumbs-wrapper">
  <!-- Search for small screen-->
  <div class="container">
    <div class="row">
      <div class="col s10 m6 l6">
        <h5 class="breadcrumbs-title mt-0 mb-0"><span>Eleição</span></h5>
        <ol class="breadcrumbs mb-0">
          <%= render_breadcrumbs :tag => :li, :separator => "" %>
        </ol>
      </div>
      <div class="col s2 m6 l6">
        <% if current_user.admin %>
          <%= link_to "Todas", elections_path, class:"btn white-text waves-effect waves-light breadcrumbs-btn right" %>
          <%= link_to edit_election_path(@election) , class: "btn-flat waves-effect waves-light breadcrumbs-btn right" do %>
            <i class="material-icons">edit</i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="card-panel">
  <div class="row">
    <div class="col s12 l4">
      <div class="card light-blue">
        <div class="card-content white-text">
            <span class="card-title">
              <%= @election.titulo %>
            </span>
          <p>
            <%= @election.descricao %>
          </p>
          <div class="row">
            <div class="col s6"><i class="material-icons">date_range</i><%= @election.inicio %></div>
            <div class="col s6"><i class="material-icons">date_range</i><%= @election.fim %></div>
          </div>
          <br>

        </div>
      </div>
    </div>
    <div class="col s12 l4">
      <%= link_to  apuracao_election_path(@election) do  %>
        <div class="card green">
          <div class="card-content white-text center-align">
            <h2>Apuração</h2>
          </div>
        </div>
      <% end if current_user.admin %>
    </div>
  </div>
  <!--  <p>-->
  <!--    <strong>Título:</strong>-->
  <%#= @election.titulo %>
  <!--  </p>-->

  <!--  <p>-->
  <!--    <strong>Descrição:</strong>-->
  <%#= @election.descricao %>
  <!--  </p>-->

  <!--  <p>-->
  <!--    <strong>Início:</strong>-->
  <%#= @election.inicio %>
  <!--  </p>-->

  <!--  <p>-->
  <!--    <strong>Término:</strong>-->
  <%#= @election.fim %>
  <!--  </p>-->



  <div class="card">
    <div class="card-content">
      <span class="card-title">Opções</span>
      <div class="row">
        <% @election.election_options.each do |o| %>

          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="<%= o.imagem.present? ? o.imagem.url : '/materialize/images/gallary/13.png' %>">
                <!--                <a class="btn-floating halfway-fab waves-effect waves-light blue left">-->
                <!--                  <i class="material-icons">share</i>-->
                <!--                </a>-->
              </div>
              <div class="card-content">
                <h5 class="center font-weight-400"><%= o.nome %></h5>
                <p class="center"># <%= o.numero %></p>
                <div class="divider mt-5"></div>
                <br>
                <div class="col s12 center">
                  <% if !@voto.present? and current_user.pode_votar? %>
                    <a href="#modal" onclick="set_id(<%= o.id %>)" class="btn white- modal-trigger">Votar</a>
                  <% end %>
                </div>
                <br>
                <!--                <div class="col l6 m6 s6 padding-5">-->
                <!--                  <p class="center">-->
                <!--                    <i class="material-icons">person_add</i>-->
                <!--                  </p>-->
                <!--                  <p class="center">Votos</p>-->
                <!--                  <p class="center">124k</p>-->
                <!--                </div>-->
                <!--                <div class="col l6 m6 s6 padding-5">-->
                <!--                  <p class="center">-->
                <!--                    <i class="material-icons">person</i>-->
                <!--                  </p>-->
                <!--                  <p class="center">following</p>-->
                <!--                  <p class="center">432</p>-->
                <!--                </div>-->
              </div>
            </div>
          </div>



        <% end %>
      </div>
    </div>
  </div>

</div>

<div id="modal" class="modal">

  <div class="modal-content">
    <h4>Confirme seu Voto!</h4>
    <%= form_with url: recaptcha_elections_path, method: :get do |f| %>
      <p>É necessário confirmar seu voto enviando um SMS para <%= current_user.telefone %></p>
      <!--                <a href="#" id="sign-in-button"  class="btn white-text"> <i class="material-icons">textsms</i>Enviar Código</a>-->

      <button type="submit" id="sign-in-button" class="btn white-text"> <i class="material-icons">textsms</i>Enviar Código</a> </button>
    <% end %>
    <br>
    <%= form_with url: votar_elections_path,id: "form_code", method: :get, local: true do |f| %>
      <%= f.hidden_field :opcao, id:"opcao" %>
      <%= f.hidden_field :eleicao, value: @election.id %>
      <input type="text" name="codigo" id="codigo" placeholder="Informe o Código">
      <a href="#" onclick="check_code();" class="waves-effect waves-green btn white-text">Votar</a>
      </div>
      <div class="modal-footer">

        <!--        <button  class="modal-close waves-effect waves-green btn-flat">Votar </button>-->
        <!--              <a href="#" id="sign-in-button" class="modal-close waves-effect waves-green btn-flat">Agree</a>-->
      </div>
    <% end %>
    </div>



<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
      function set_id(id)
      {
          $("#opcao").val(id);
      }

      var firebaseConfig = {
          apiKey: "AIzaSyCN0ioMiusG0uo4RvI6mMtO7uATEYhl3n0",
          authDomain: "federacao-volei.firebaseapp.com",
          databaseURL: "https://federacao-volei.firebaseio.com",
          projectId: "federacao-volei",
          storageBucket: "federacao-volei.appspot.com",
          messagingSenderId: "516472202204",
          appId: "1:516472202204:web:f2e26ee8398c864bae6519"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.auth().languageCode = 'it';

      window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('sign-in-button', {
          'size': 'invisible',
          'callback': function(response) {
              // reCAPTCHA solved, allow signInWithPhoneNumber.
              console.log("solved");
              send_sms();
          }
      });

      recaptchaVerifier.render().then(function(widgetId) {
          window.recaptchaWidgetId = widgetId;
      });



      function send_sms()
      {
          var appVerifier = window.recaptchaVerifier;
          firebase.auth().signInWithPhoneNumber("+55<%= current_user.telefone %>", appVerifier)
              .then(function (confirmationResult) {
                  // SMS sent. Prompt user to type the code from the message, then sign the
                  // user in with confirmationResult.confirm(code).
                  window.confirmationResult = confirmationResult;
                  console.log("SMS ENVIADO");
                  Swal.fire("","Código enviado","success");

              }).catch(function (error) {
              console.log("ERRROR SMS");
          });
      }

      function check_code()
      {
          var code = $("#codigo").val();
          if(code == "")
          {
              Swal.fire("","Informe o Código","error");
              return;
          }
          window.confirmationResult.confirm(code).then(function (result) {
              // User signed in successfully.
              var user = result.user;
              console.log("checado");
              $("#form_code").submit();
          }).catch(function (error) {
              // User couldn't sign in (bad verification code?)
              // ...
              Swal.fire("","Código inválido","error");
          });
      }
  </script>
<% end %>

