<%= form_for(election_option) do |f| %>
  <% if election_option.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5><%= t('errors.template.header')  %>:</h5>

      <ul>
      <% election_option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">
    <%= f.collection_select :election_id, Election.all, :id, :name, prompt: true  %>
    
  </div>

  <div class="input-field">

    <%= f.label  :nome %>
    <%= f.text_field :nome %>
    
  </div>

  <div class="input-field">

    <%= f.label  :descricao %>
    <%= f.text_area :descricao %>
    
  </div>

  <div class="input-field">

    <%= f.label  :numero %>
    <%= f.text_field :numero %>
    
  </div>

  <div class="input-field">

    <%= f.label  :imagem %>
    <%= f.text_field :imagem %>
    
  </div>

</div>
  <div class="actions">
    <%= f.submit t('button.save'), class:"btn" %>
  </div>
<% end %>
