<div class="breadcrumbs-light pb-0 pt-4" id="breadcrumbs-wrapper">
  <!-- Search for small screen-->
  <div class="container">
    <div class="row">
      <div class="col s10 m6 l6">
        <h5 class="breadcrumbs-title mt-0 mb-0"><span><%= t('activerecord.models.election_option') %></span></h5>
        <ol class="breadcrumbs mb-0">
          <li class="breadcrumb-item"><a href="/"><%= t('home') %></a>
          </li>
          <li class="breadcrumb-item"><a href="#"><%= t('activerecord.models.election_option') %></a>
          </li>
          <li class="breadcrumb-item active"><%= t('breadcrumb.show') %>
          </li>
        </ol>
      </div>
      <div class="col s2 m6 l6">
        <%= link_to t('button.all'), election_options_path, class:"btn waves-effect waves-light breadcrumbs-btn right" %>
        <%= link_to edit_election_option_path(@election_option) , class: "btn-flat waves-effect waves-light breadcrumbs-btn right" do %>
          <i class="material-icons">edit</i>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="card-panel">
	
  <p>
    <strong><%= t('activerecord.attributes.election_option.election') %>:</strong>
    <%= @election_option.election %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.election_option.nome') %>:</strong>
    <%= @election_option.nome %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.election_option.descricao') %>:</strong>
    <%= @election_option.descricao %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.election_option.numero') %>:</strong>
    <%= @election_option.numero %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.election_option.imagem') %>:</strong>
    <%= @election_option.imagem %>
  </p>

</div>

