<table width="698px" cellpadding="0" cellspacing="0" border="0">
	<tbody>
		<tr>
			<td>
				<table width="100%" cellpadding="0" cellspacing="0" border="0"
				style="font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';">
					<tbody>
						<tr>
							<td style="text-align: left" width="30%">
								<!--<img style="max-width: 100%;height: auto;" src="http://precisaassessoria.com.br/content/Site/images/logo.png">-->
							</td>
							<td style="text-align: center" width="40%"></td>
							<td style="text-align: right" width="30%">
								<img style="max-width: 100%;height: auto;" src="https://storage.googleapis.com/carrierwave_imgs/uploads/cliente/logo/12/catolica.jpeg">
							</td>
						</tr>
						<tr>
							<td style="height:10px" colspan="3"></td>
						</tr>
					</tbody>
				</table>

				<table width="100%" cellpadding="0" cellspacing="0" border="0"
				style="padding-left: 10px;padding-bottom: 30px; color:white !important; background: #a61f1e!important; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';">
						<tbody>
						<tr>
							<td style="" colspan="3">
								<h1 style="font-style: italic!important;font-size: 3.5rem;font-weight: 300;line-height: 1.2;">
									Alerta de notícias
								</h1>
							</td>
						</tr>
						<tr style="font-size: 1.25rem;font-weight: 300;">
							<td colspan="3" >
								15 e 16 de Novembro de 2018
							</td>
						</tr>
						<tr>
							<td style="height:20px" colspan="3"></td>
						</tr>		
						<tr>
							<td colspan="3">
								<a href="#" style="font-size: 1.25rem;font-weight: 700!important;color:white !important;">Acessar Área do cliente.</a>
							</td>
						</tr>	
					</tbody>
				</table>

				<table width="100%" cellpadding="0" cellspacing="10" border="0"
				style="padding-top: 30px; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';">
						<tbody>
						<tr>
							<td style="padding:10px;border-radius: .25rem;border:1px; border-style: solid;border-color: #a61f1e;" width:"50%">
								<table width="100%" cellpadding="0" cellspacing="10" border="0">
									<tbody>
										<tr>
											<td colspan="1">
												<span style="color:#a61f1e; font-weight: 700!important;">Números</span>
											</td>
										</tr>
										<tr>
											<td colspan="1">
												<h4>
													Conteúdo
												</h4>
											</td>
										</tr>
										<tr>
											<td colspan="1">
												Número de conteúdos no email
											</td>
										</tr>						
									</tbody>
								</table>
							</td>
							<td style="padding:10px;border-radius: .25rem; border:1px; border-style: solid;border-color: #a61f1e;"  width:"50%">
								<table width="100%" cellpadding="0" cellspacing="10" border="0">
									<tbody>
										<tr>
											<td>
												<span style="color:#a61f1e; font-weight: 700!important;">Veículos</span>
											</td>
										</tr>
										<tr>
											<td>
												<h4>
													Maior número de notícias
												</h4>
											</td>
										</tr>
										<tr>
											<td>
												Portal CT
											</td>
										</tr>						
									</tbody>					
								</table>
							</td>			
						</tr>
					</tbody>
				</table>

				<table width="100%" cellpadding="0" cellspacing="10" border="0"
				style="padding-bottom: 30px; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';">
					<tbody>
						<tr >
							<td style="background: #a61f1e!important; color:white; padding:10px;border-radius: .25rem; border:1px; border-style: solid;border-color: #a61f1e;" colspan="3">
								15 de Novembro de 2018
							</td>
						</tr>
						<tr>
							<td style="height:10px" colspan="3"></td>
						</tr>
						<tr>
							<td style="border-bottom: 1px solid #a61f1e!important; font-style: italic!important;">
								<img style="max-width: 30px;height: auto;float: left;" src="https://storage.googleapis.com/carrierwave_imgs/uploads/veiculo/logo/104/site_web.png">
								<h3 style="padding-left: 40px;font-size: 1.75rem;font-weight: 500;line-height: 1.2;">Site</h3>
							</td>
						</tr>
						<tr>
							<td>
								<h5 style="margin-bottom: .75rem;font-size: 1.25rem;font-weight: 500;">Portal CT</h5>
							</td>
						</tr>
						<tr>
							<td>
								<strong>Título da notícia</strong>
							</td>
						</tr>
						<tr>
							<td>
								<p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							</td>
						</tr>
						<tr>
							<td style="height:10px" colspan="3"></td>
						</tr>	
						<tr>
							<td>
								<h5 style="margin-bottom: .75rem;font-size: 1.25rem;font-weight: 500;">AF Notícias</h5>
							</td>
						</tr>
						<tr>
							<td>
								<strong>Título da notícia</strong>
							</td>
						</tr>
						<tr>
							<td>
								<p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							</td>
						</tr>
						<tr>
							<td style="height:10px" colspan="3"></td>
						</tr>
						<tr>
							<td style="border-bottom: 1px solid #a61f1e!important; font-style: italic!important;">
								<img style="max-width: 30px;height: auto;float: left;" src="https://storage.googleapis.com/carrierwave_imgs/uploads/veiculo/logo/172/RADIO_web.png">
								<h3 style="padding-left: 40px;font-size: 1.75rem;font-weight: 500;line-height: 1.2;">Rádio</h3>
							</td>
						</tr>
						<tr>
							<td style="height:10px" colspan="3"></td>
						</tr>
						<tr>
							<td>
								<h5 style="margin-bottom: .75rem;font-size: 1.25rem;font-weight: 500;">Jovem Palmas</h5>
							</td>
						</tr>
						<tr>
							<td>
								<strong>Título da notícia</strong>
							</td>
						</tr>
						<tr>
							<td>
								<p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							</td>
						</tr>
						<tr>
							<td style="height:10px" colspan="3"></td>
						</tr>		
						<tr >
							<td style="background: #a61f1e!important; color:white; padding:10px;border-radius: .25rem; border:1px; border-style: solid;border-color: #a61f1e;" colspan="3">
								16 de Novembro de 2018
							</td>
						</tr>
						<tr>
							<td style="height:10px" colspan="3"></td>
						</tr>
						<tr>
							<td style="border-bottom: 1px solid #a61f1e!important; font-style: italic!important;">
								<img style="max-width: 30px;height: auto;float: left;" src="https://storage.googleapis.com/carrierwave_imgs/uploads/veiculo/logo/131/TV_web.png">
								<h3 style="padding-left: 40px;font-size: 1.75rem;font-weight: 500;line-height: 1.2;">TV</h3>
							</td>
						</tr>
						<tr>
							<td style="height:10px" colspan="3"></td>
						</tr>
						<tr>
							<td>
								<h5 style="margin-bottom: .75rem;font-size: 1.25rem;font-weight: 500;">Record</h5>
							</td>
						</tr>
						<tr>
							<td>
								<strong>Título da notícia</strong>
							</td>
						</tr>
						<tr>
							<td>
								<p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							</td>
						</tr>
						<tr>
							<td style="height:10px" colspan="3"></td>
						</tr>
						<tr>
							<td style="border-bottom: 1px solid #a61f1e!important; font-style: italic!important;">
								<img style="max-width: 30px;height: auto;float: left;" src="https://storage.googleapis.com/carrierwave_imgs/uploads/veiculo/logo/147/impresso_web.png">
								<h3 style="padding-left: 40px;font-size: 1.75rem;font-weight: 500;line-height: 1.2;">Impresso</h3>
							</td>
						</tr>
						<tr>
							<td style="height:10px" colspan="3"></td>
						</tr>
						<tr>
							<td>
								<h5 style="margin-bottom: .75rem;font-size: 1.25rem;font-weight: 500;">Jornal do Tocantins</h5>
							</td>
						</tr>
						<tr>
							<td>
								<strong>Título da notícia</strong>
							</td>
						</tr>
						<tr>
							<td>
								<p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							</td>
						</tr>																	
					</tbody>
				</table>

				<table width="100%" cellpadding="0" cellspacing="0" border="0"
				style="padding-top:10px; padding-left: 10px;padding-bottom: 30px; color:white !important; background: #a61f1e!important; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';">
					<tbody style="margin-bottom: .5rem;font-family: inherit;line-height: 1.2;color: inherit;">
						<tr>
							<td style="width:30%">
								<h5 style="font-weight: 500;font-size: 1.25rem;margin-bottom: 0px;">
									Onde Estamos
								</h5>
								<p style="font-weight: 300">
									205 Sul, Av. LO 05, Lote 06, Sala 01 - Edifício Pôr do Sol, Palmas, Tocantins
								</p>
							</td>
							<td style="width:30%">
								<h5 style="font-weight: 500;font-size: 1.25rem;margin-bottom: 0px;">
									Fones
								</h5>
								<p style="font-weight: 300">
									(63) 3212-1392 | (63) 3215-4042
								</p>				
							</td>
							<td style="width:30%">
								<h5 style="font-weight: 500;font-size: 1.25rem;margin-bottom: 0px;">
									Email
								</h5>
								<p style="font-weight: 300">
									<!--contato@precisaassessoria.com.br-->
								</p>				
							</td>						
						</tr>	
					</tbody>
				</table>				
			</td>
		</tr>
	</tbody>
</table>
