<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
            <span>Copyright ©
              <script type="text/javascript">
                  document.write(new Date().getFullYear());
              </script> <a class="grey-text text-darken-2" href="/" target="_blank">Federação Vôlei</a> Todos os Direitos Reservados.</span>
      <span class="right hide-on-small-only"> Design and Developed by <a class="grey-text text-darken-2" href="http://www.novostek.com/">Novostek LLC</a></span>
    </div>
  </div>
  <!-- Quantcast Tag -->
  <script type="text/javascript">
      var _qevents = _qevents || [];

      (function() {
          var elem = document.createElement('script');
          elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
          elem.async = true;
          elem.type = "text/javascript";
          var scpt = document.getElementsByTagName('script')[0];
          scpt.parentNode.insertBefore(elem, scpt);
      })();

      _qevents.push({
          qacct:"p-kQkbWb7Q3fASP"
      });
  </script>

  <noscript>
    <div style="display:none;">
      <img src="//pixel.quantserve.com/pixel/p-kQkbWb7Q3fASP.gif" border="0" height="1" width="1" alt="Quantcast"/>
    </div>
  </noscript>
  <!-- End Quantcast tag -->
</footer>