<!-- START LEFT SIDEBAR NAV-->
<aside id="left-sidebar-nav" class="nav-expanded nav-lock nav-collapsible">
  <div class="brand-sidebar">
    <h1 class="logo-wrapper">
      <a href="/" class="brand-logo darken-1">
        <!--<img src="/p-icon.png" alt="materialize logo">-->
        <span class="logo-text hide-on-med-and-down" style="font-family: 'Exo 2', sans-serif;">Vôlei Tocantins</span>
      </a>
      <a class="navbar-toggler">
        <i class="material-icons">radio_button_checked</i>
      </a>
    </h1>
  </div>
  <ul id="slide-out" class="side-nav fixed leftside-navigation">
    <li>
      <a href="#" target="_self">
        <i class="material-icons">person</i>
        <span class="nav-text">Bem Vind<%= current_user.feminino? ? "a" : "o" %> <%= current_user.nome.split(" ").first %></span>
      </a>
    </li>
    <li>
      <a href="/" target="_self">
        <i class="material-icons">home</i>
        <span class="nav-text">Início</span>
      </a>
    </li>
    <li>
      <a href="/elections " target="_self">
        <i class="material-icons">check_circle</i>
        <span class="nav-text">Votações</span>
      </a>
    </li>
    <li>
      <a onclick="swal('Em Breve', 'Aqui será possível você se inscrever para as competições')">
        <i class="material-icons">notes</i>
        <span class="nav-text">Inscrições</span>
      </a>
    </li>
    <% if current_user.admin %>
      <li>
        <a href="/users " target="_self">
          <i class="material-icons">people</i>
          <span class="nav-text">Usuários</span>
        </a>
      </li>
      <li>
        <a href="/settings " target="_self">
          <i class="material-icons">settings</i>
          <span class="nav-text">Configurações</span>
        </a>
      </li>
    <% end %>
    <li>
      <a href="/users/sign_out">
        <i class="material-icons">exit_to_app</i>
        <span class="nav-text">Sair</span>
      </a>
    </li>
  </ul>
  <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only gradient-45deg-light-blue-cyan gradient-shadow">
    <i class="material-icons">menu</i>
  </a>
</aside>
<!-- END LEFT SIDEBAR NAV-->