<html lang="pt-br">
<!--================================================================================
Item Name: Materialize - Material Design Admin Template
Version: 4.0
Author: PIXINVENT
Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================ -->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
  <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
  <title>Federação Vôlei</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
  <!-- Favicons-->
  <link rel="icon" href="/icon.png" sizes="192x192">
  <!-- Favicons-->
  <link rel="apple-touch-icon-precomposed" href="/materialize/images/favicon/apple-touch-icon-152x152.png">
  <!-- For iPhone -->
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="/icon.png">
  <!-- For Windows Phone -->
  <!-- CORE CSS-->
  <link href="/materialize/css/themes/semi-dark-menu/materialize.css" type="text/css" rel="stylesheet">
  <link href="/materialize/css/themes/semi-dark-menu/style.css" type="text/css" rel="stylesheet">
  <!-- Custome CSS-->
  <link href="/materialize/css/custom/custom.css" type="text/css" rel="stylesheet">
  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="/materialize/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
  <link href="/materialize/vendors/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet">
  <link href="/materialize/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/materialize/css/plugins/select2.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.19.1/sweetalert2.min.css">
  <link rel="stylesheet" href="/js/EasyAutocomplete-1.3.5/easy-autocomplete.min.css">
  <link rel="stylesheet" href="/js/datetimepicker-master/build/jquery.datetimepicker.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.5.1/firebase-ui-auth.css" />

  <%= yield :head %>
  <style>
    /*nav.pagination{*/
    /*  background-color: #a7a7a7;*/
    /*}*/
    /*body.layout-semi-dark #main .side-nav {*/
    /*  background: linear-gradient(45deg, #1f3861 50%, #1f3861 100%) !important;*/
    /*}*/
    /*body.layout-semi-dark #main #left-sidebar-nav .brand-sidebar {*/
    /*  background: linear-gradient(45deg, #1f3861 50%, #1f3861 100%) !important;*/
    /*  box-shadow: none;*/
    /*}*/
    /*a{*/
    /*  color: #e44b49*/
    /*}*/

  </style>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125076783-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125076783-1');
  </script>
</head>
<body class="layout-semi-dark">

<!-- Start Page Loading -->

<!-- End Page Loading -->
<%= render partial:"layouts/topbar" %>
<!-- START MAIN -->
<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">
    <%= render partial:"layouts/leftsidebar" %><!-- if usuario_signed_in? -->
    <!-- START CONTENT -->
    <section id="content">
      <!--start container-->
      <div class="container">
        <%= yield %>
      </div>
    </section>
    <!-- END CONTENT -->
    <%#= render partial:"layouts/floating" %>
    <%= render partial:"layouts/rightsidebar" %>

  </div>
  <!-- END WRAPPER -->
</div>
<!-- END MAIN -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START FOOTER -->
<%= render partial:"layouts/footer" %>

<!-- END FOOTER -->
<!-- ================================================
Scripts
================================================ -->
<!-- jQuery Library -->
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


<!--materialize js-->
<script type="text/javascript" src="/materialize/js/materialize.js"></script>
<!--prism-->
<script type="text/javascript" src="/materialize/vendors/prism/prism.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="/materialize/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!-- chartjs -->
<script type="text/javascript" src="/materialize/vendors/chartjs/chart.min.js"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="/materialize/js/plugins.js"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" src="/materialize/js/custom-script.js"></script>
<script type="text/javascript" src="/materialize/js/materialize-plugin/date_picker/picker.time.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.19.1/sweetalert2.min.js"></script>
<script src="/javascripts/nested_form.js"></script>
<script src="/js/mousetrap-master/mousetrap.min.js"></script>
<script src="/js/EasyAutocomplete-1.3.5/jquery.easy-autocomplete.min.js"></script>
<!-- https://github.com/plentz/jquery-maskmoney -->
<script src="/js/jquery.maskMoney.min.js"></script>
<!-- https://xdsoft.net/jqplugins/datetimepicker/ -->
<script src="/js/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>
<!-- https://github.com/RobinHerbots/Inputmask -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
<!-- cocoon não está funcionando com o rails 6 por isso importar o JS -->
<script src="/js/cocoon.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.1/firebase-auth.js"></script>
<!--<script src="https://www.gstatic.com/firebasejs/ui/4.5.1/firebase-ui-auth__pt_br.js"></script>-->
<script src="https://www.google.com/recaptcha/api.js?render=6LfSEKYZAAAAAKfhrs99CXwBV4JajD2BY8PLkWxv"></script>

<script type="text/javascript" charset="utf-8">

    $(document).ready(function() {
        $('.select2').select2();
        $('select').material_select();
        $('.telefones').inputmask("(99)99999999[9]");
        $('.horarios').inputmask("99:99[:99]");
        $('.cpf').inputmask("99999999999");
        $('.modal').modal();
        $('.dropdown-button').dropdown({
                inDuration: 300,
                outDuration: 225,
                constrainWidth: false, // Does not change width of dropdown to that of the activator
                hover: true, // Activate on hover
                gutter: 0, // Spacing from edge
                belowOrigin: false, // Displays dropdown below the button
                alignment: 'left', // Displays dropdown with edge aligned to the left of button
                stopPropagation: false // Stops event propagation
            }
        );

    });

    $.datetimepicker.setLocale('pt-BR');
    $('.datetimepicker').datetimepicker({
        format:'d/m/Y H:i',
        step:5,
        i18n:{
            "pt-BR":{
                months:[
                    'Janeiro','Fevereiro','Março','Abril',
                    'Maio','Junho','Julho','Agosto',
                    'Setembro','Outubro','Novembro','Dezembro',
                ],
                    dayOfWeek:[
                    "Dom", "Seg", "Ter", "Qua",
                    "Qui", "Sex", "Sab",
                ]
            }
        }
    });
    $('.datepicker2').datetimepicker({
        format:'d/m/Y',
        step:5,
        timepicker:false,
        i18n:{
            "pt-BR":{
                months:[
                    'Janeiro','Fevereiro','Março','Abril',
                    'Maio','Junho','Julho','Agosto',
                    'Setembro','Outubro','Novembro','Dezembro',
                ],
                dayOfWeek:[
                    "Dom", "Seg", "Ter", "Qua",
                    "Qui", "Sex", "Sab",
                ]
            }
        }
    });

</script>

<% if flash[:notice].present? %>
    <script type="text/javascript">
        setTimeout(function() {
            Materialize.toast('<span><%= flash[:notice] %></span>', 3000);
        }, 1500);
    </script>
<% end %>

<% if flash[:alert].present? %>
    <script type="text/javascript">

            setTimeout(function() {
                Materialize.toast('<span class="red-text"><%= flash[:alert] %></span>', 3000);
            }, 1500);

    </script>
<% end %>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('input[type="datetime-local"]').each(function() {
            $(this).attr('max', '<%= Date.today.year %>-12-31T23:59')
        });
    });

    $(document).on('nested:fieldRemoved', function(event){
        // this field was just inserted into your form
        var field = event.field;
        field.find('input').each(function(){
            if($(this).prop('required')){
                $(this).remove();
            }
        });
    })
</script>

<%= yield :scripts %>
</body>
</html>