<!DOCTYPE html>
<html lang="en">
<!--================================================================================
Item Name: Materialize - Material Design Admin Template
Version: 4.0
Author: PIXINVENT
Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================ -->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
  <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
  <title>Federação</title>
  <!-- Favicons-->
  <link rel="icon" href="/materialize/images/favicon/favicon-32x32.png" sizes="32x32">
  <!-- Favicons-->
  <link rel="apple-touch-icon-precomposed" href="/materialize/images/favicon/apple-touch-icon-152x152.png">
  <!-- For iPhone -->
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
  <!-- For Windows Phone -->
  <!-- CORE CSS-->
  <link href="/materialize/css/themes/semi-dark-menu/materialize.css" type="text/css" rel="stylesheet">
  <link href="/materialize/css/themes/semi-dark-menu/style.css" type="text/css" rel="stylesheet">
  <!-- Custome CSS-->
  <link href="/materialize/css/custom/custom.css" type="text/css" rel="stylesheet">
  <link href="/materialize/css/layouts/page-center.css" type="text/css" rel="stylesheet">
  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="/materialize/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="/js/datetimepicker-master/build/jquery.datetimepicker.min.css">
  <link href="/css/search_google.css" rel="stylesheet" type="text/css">
<!--  <style>-->
<!--    html, body{height:100%;}-->

<!--    body {-->
<!--      background: url(/images/login_bg-min.jpeg);-->
<!--      background-size: cover;-->
<!--      background-repeat: no-repeat;-->
<!--      background-attachment: fixed;-->
<!--      background-position-x: center;-->
<!--      background-position-y: top;-->
<!--    }-->
<!--    logo2{-->
<!--      max-height: 50px;-->
<!--    }-->
<!--  </style>-->
</head>
<body >
<!--<div id="overlay" style="-->
<!--display: block;-->
<!--    width: 100%;-->
<!--    height: 100%;-->
<!--    z-index: -1;-->
<!--    position: absolute;-->
<!--    top: 0px;-->
<!--    left: 0px;-->
<!--    background: url(/images/overlay.png);-->
<!--"></div>-->
<!-- Start Page Loading -->

<!-- End Page Loading -->

<div  class="row" style="margin-bottom: 0px">
  <div class="col s12 m4 offset-m2 z-depth-4 card-panel" style="background: rgba(255, 255, 255, 0.6)">
    <%= yield %>
    <p>&nbsp;</p>
  </div>
  <div class="col s12 m4">
      <%= yield :left_card %>
  </div>
</div>
<!--<div class="center">-->
<!--  <a href="malito:ti@precisaassessoria.com.br">-->
<!--    <img src="/images/suporte.png" alt="" height="70px">-->
<!--  </a>-->
<!--  <a href="https://wa.me/556332121392">-->
<!--    <img src="/images/contato.png" alt="" height="70px">-->
<!--  </a>-->
<!--</div>-->
<!-- ================================================
Scripts
================================================ -->
<!-- jQuery Library -->
<script type="text/javascript" src="/materialize/vendors/jquery-3.2.1.min.js"></script>
<!--materialize js-->
<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="/materialize/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="/materialize/js/plugins.js"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" src="/materialize/js/custom-script.js"></script>
<script src="/js/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
<script data-turbolinks-eval="false" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuo1c-9BiXODXuM5L3n26CRdukjlnlUpU&libraries=places"></script>
</body>
</html>

<script type="text/javascript" charset="utf-8">

    $(document).ready(function() {
        $('.cpf').inputmask("99999999999");
        $('.telefones').inputmask("(99)999999999");
        $('.datepicker').datetimepicker({
            format:'d/m/Y',
            i18n:{
                "pt-BR":{
                    months:[
                        'Janeiro','Fevereiro','Março','Abril',
                        'Maio','Junho','Julho','Agosto',
                        'Setembro','Outubro','Novembro','Dezembro',
                    ],
                    dayOfWeek:[
                        "Dom", "Seg", "Ter", "Qua",
                        "Qui", "Sex", "Sab",
                    ]
                }
            }
        });
        $.datetimepicker.setLocale('pt-BR');



    });





</script>

<%= yield :scripts %>