<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Precisa Relatório</title>
  <style type="text/css">
    .center{
      text-align: center
    }
    .wrapword{
      white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
      white-space: -webkit-pre-wrap; /*Chrome & Safari */ 
      white-space: -pre-wrap;      /* Opera 4-6 */
      white-space: -o-pre-wrap;    /* Opera 7 */
      white-space: pre-wrap;       /* css-3 */
      word-wrap: break-word;       /* Internet Explorer 5.5+ */
      word-break: break-all;
      white-space: normal;
    }
  </style>
  <style>
    div.alwaysbreak { page-break-before: always; }
    div.nobreak:before { clear:both; }
    div.nobreak { page-break-inside: avoid; }
    h1 {
      font-size: 2.28rem !important;
    }
  </style>

  <%= yield :head  %>
  <link href="http://monitoramento.precisaassessoria.com.br/materialize/css/themes/semi-dark-menu/materialize.css" type="text/css" rel="stylesheet">

  <%= javascript_include_tag "https://code.highcharts.com/highcharts.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/chartkick/2.3.0/chartkick.js" %>

</head>

<body>
  <div id="main">
   <section id="content">

    <!--start container-->
    <div class="container">
     <%= yield  %>
   </section>
 </div>
</body>
</html>

